[submodule "reveal"]
	path = vendor/reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal-relativenumber"]
	path = vendor/reveal-relativenumber
	url = https://github.com/Martinomagnifico/reveal.js-relativenumber.git
[submodule "Reveal-Title-Footer"]
	path = vendor/Reveal-Title-Footer
	url = https://github.com/e-gor/Reveal.js-Title-Footer.git
[submodule "reveal-onetimer"]
	path = vendor/reveal-onetimer
	url = https://github.com/tpoindex/reveal-onetimer.git
[submodule "Chart"]
	path = vendor/Chart
	url = https://github.com/chartjs/Chart.js.git
[submodule "reveal-plugins"]
	path = vendor/reveal-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "chartjs-chart-boxplot"]
	path = vendor/chartjs-chart-boxplot
	url = https://github.com/sgratzl/chartjs-chart-boxplot.git
